<!DOCTYPE html data-ng-app="myApp">
<div class="container-fluid text-center organizationSetupDiv">

    <span class="organizationSetup">Organization Setup</span>
</div>

<div class="container-fluid header title">

    <div class="text-center datasourcesHeading container">DATA SOURCES</div>
    <div class="dataSourcesText container text-center">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </div>
</div>

<div class="container">
    <div class="how-to-upload-white-box">
        <h2>How to Upload a New Source</h2>
        <div class="row content">
            <div class="col-md-7 mb-2">
                <div class="row">
                    <div class="circle contains-span col-2"><span>1</span></div>
                    <div class="col-10 col-xl-11">Select the required country to download the correct template. Populate
                        the
                        template with your source data and correlate against the Korn Ferry Job Model.
                        <div class="download-template__wrapper">
                            <div class="row align-items-center">
                                <div class="col-12 col-lg-6">
                                    <!-- <select class="w-100 mb-2" name="country" (change)="activateDownloadButton($event)">
                                        <option value="" disabled selected>Select Country</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                    </select> -->
                                    <mat-form-field class="select-country w-100">
                                        <!-- <mat-label>-- Select Country --</mat-label> -->
                                        <mat-select placeholder="Select Country"
                                            (selectionChange)="this.activateDownloadButton($event)">
                                            <mat-option value="India">India</mat-option>
                                            <mat-option value="United States">United States</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <button [disabled]="!selectedCountry"
                                        class="download-template mb-2 d-flex align-items-center"
                                        (click)="downloadTemplate('filename.xlsx')">
                                        <div>
                                            <img height="20" width="20" src="assets/icons/download-icon-disabled.svg" alt="download icon"
                                                [class.d-none]="selectedCountry">
                                            <img height="20" width="20" src="assets/icons/download-icon-active.svg" alt="download icon"
                                                [class.d-none]="!selectedCountry">
                                        </div>
                                        <div>Download Template</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            Having trouble with our template? 
                            <a
                                href="#"
                                class="link"
                                (click)="showPopUp($event)">Click here</a> to have one of our
                            experts do it for you.
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="row mb-4">
                    <div class="circle contains-span col-2"><span>2</span></div>
                    <div class="col-10">Upload your file using the Upload New Source button below. Our system will
                        verify your data and recommend fixes if any errors are found.
                    </div>
                </div>
                <div class="row">
                    <div class="circle contains-span col-2"><span>3</span></div>
                    <div class="col-10">Provide a few further details to define your data set. Once saved it
                        will appear in the list below and is ready to be used in reporting.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="how-to-upload-white-box mt-4">
        <div class="d-flex justify-content-between mb-2">
            <h2>Upload Sources</h2>
            <button routerLink="/upload" class="upload">Upload New
                Source</button>
        </div>
        <div class="row content">
        </div>
    </div>
</div>

<!-- pop-up for delete or download -->
<div class="pop-up__wrapper d-none" (click)="hidePopUp($event)">
    <div class="pop-up">
        <button (click)="hidePopUp($event)">Delete</button>
        <button (click)="hidePopUp($event)" class="active">Download</button>
    </div>
</div>