<div class="header small w-100 mt-5">
  <!-- remove 'mt-5' while merging-->
  <div class="container">
    <h2>{{titleText}}</h2>
    <p>{{stepCountText}}</p>
    <div class="step-counter">
      <div class="step done"></div>
      <div class="step"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="upload-new-data__box step-1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
      amet.</p>

    <form action="">
      <!-- uploading file -->
      <div
        ngfDrop
        [(files)]="files"
        [accept]="accept"
        (filesChange)="uploadDocumentByDrop($event)"
        [fileDropDisabled]="fileDropDisabled"
        *ngIf="uploadFileStatus"
        class="upload-new-data__drag-drop-upload d-flex align-items-center justify-content-center">
        <!-- select files -->
        <input
          type="file"
          accept=".xlsx"
          id="selectedFile"
          class="d-none"
          (change)="uploadDocumentByClick($event)" />
        <div class="text-center select-files">
          <div class="mb-2"><img height="28" width="22" src="assets/icons/upload-file-icon.svg" alt="upload file"></div>
          Drag and drop your .xls file, or <br>
          <input type="button" value="Browse" onclick="document.getElementById('selectedFile').click();" />
        </div>
      </div>

      <!-- verifying upload -->
      <div *ngIf="showProgressBar"
        class="upload-new-data__drag-drop-upload d-flex align-items-center justify-content-center">
        <div class="text-center uploading-file">
          <div class="upload-status">
            {{uploadStatus}}
          </div>
          <div class="filename">Filename.xlsx</div>
          <div class="progressbar__wrapper justify-content-center">
            <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
            <button class="cancel-upload" (click)="cancelUpload()"><img src="assets/icons/close-icon.svg" alt="Close Button"></button>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- upload success -->
      <div *ngIf="uploadSuccess"
        ngfDrop
        [(files)]="files"
        [accept]="accept"
        (filesChange)="uploadDocumentByDrop($event)"
        [fileDropDisabled]="fileDropDisabled"
        class="upload-new-data__drag-drop-upload d-flex align-items-center justify-content-center upload-new-data__box--success">
        <div class="text-center uploading-file">
          <div class="upload-status">
            <div class="data-missing"><img src="assets/icons/success-icon.png" alt="success icon"></div>
            Uploaded Successfull!
          </div>
          <div class="filename">Filename.xlsx</div>
          <div class="progressbar__wrapper justify-content-center">
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            <button class="cancel-upload" (click)="cancelUpload()"><img src="assets/icons/close-icon.svg" alt="Close Button"></button>
          </div>
          <div class="upload-success-text">
            <input type="file" id="selectedFile" class="d-none" (change)="uploadDocumentByClick($event)" />
            <a routerLink="#" onclick="document.getElementById('selectedFile').click();">Browse files </a> or drag and drop to add a different file.
          </div>
        </div>
      </div>

      <!-- correlation data missing -->
      <div *ngIf="uploadFailed"
        ngfDrop
        [(files)]="files"
        [accept]="accept"
        (filesChange)="uploadDocumentByDrop($event)"
        [fileDropDisabled]="fileDropDisabled"
        class="upload-new-data__drag-drop-upload d-flex align-items-center justify-content-center upload-new-data__box--error">
        <div class="text-center uploading-file">
          <div class="upload-status">
            <div class="data-missing"><img src="assets/icons/error-icon.svg" alt="error icon"></div>
            Correlation Data Missing
          </div>
          <div class="filename">Filename.xlsx</div>
          <div class="progressbar__wrapper justify-content-center">
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            <button class="cancel-upload" (click)="cancelUpload()"><img src="assets/icons/close-icon.svg" alt="Close Button"></button>
          </div>
          <div class="data-missing-text">
            <input type="file" id="selectedFile" class="d-none" (change)="uploadDocumentByClick($event)" />
            <a routerLink="#">Download file</a> to view and correct the highlighted rows, and reupload your file. <br>
            <a routerLink="#" onclick="document.getElementById('selectedFile').click();">Browse to select the file</a> or drag and drop the file into this area.
          </div>
        </div>
      </div>
    </form>

    <div class="upload-new-data__box__footer">
      Having trouble with our template? <a routerLink="">Click here</a> to have one of our experts do it for you
    </div>
  </div>

  <!-- step 2 -->
  <div class="upload-new-data__box step-2 d-none">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
      amet.</p>

    <button style="background-color: gray; height: auto; width: auto;">placeholder for input boxes</button>

    <div class="upload-new-data__box__footer">
      <div class="d-flex">
        <div class="d-inline-flex circle contains-span mr-2"><span>!</span></div>
        <div>
          Submission of your Data Source can take some time - we will email when your Data Source is available within
          interactive reporting.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="upload-new-data__footer">
  <div class="container">
    <div class="d-flex justify-content-between">
      <button class="cancel">Cancel</button>
      <button class="continue" [ngClass]="{'success': uploadSuccess}" (click)="nextStep()">Continue</button>
    </div>
  </div>
</div>