@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

//partials for colors
@import './color';

body {
  background-color: #ebeff2;
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: 0.4px;
}

.organizationSetupDiv {
  margin-bottom: 0;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

.organizationSetup {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #000000;
}

.datasourcesHeading {
  padding-top: 50px;

  @media (min-width: 768px) {
    padding-top: 64px;
  }
}

.title {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 3.2px;
  text-align: center;
  color: #fff;
}

.header {
  background-image: url("images/top_head_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 313px;
}

.dataSourcesText {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  min-width: 272px;
  width: 90%;

  @media (min-width: 768px) {
    max-width: 687px;
  }
}

.uploadText {
  background-color: #fff;
  margin-top: -35%;
}

.howtoupload {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: #000;
}

.circle {
  height: 42px;
  max-width: 42px;
  background-color: #ebeff2;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #000000;

  &.contains-span {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.howToUploadText {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
}

.marginBottom7 {
  margin-bottom: 15px;
  margin-left: 30px;
}

.rowMarginBottom {
  padding-bottom: 36px;
}

.uploadedSources {
  background-color: #fff;
}

.uploadNewSource {
  margin-top: 8%;
  border: solid 1px rgba(255, 255, 255, 0.75);
  background-color: #1071c5;
  width: auto;
  height: 36px;
  color: #fff;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
  letter-spacing: 0.4px;
  text-align: center;
  float: right;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.havingTrouble {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
}

a.clickeHere {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #007bc7 !important;
}

.noPaddingLeft {
  padding-left: 0;
}

.noPaddingRight {
  padding-right: 0;
}

.uploadNewHeader {
  background-image: url("images/top_head_bg.png");
  background-repeat: no-repeat;
  height: 26vh;
}

.uploadNewDataSource {
  padding-top: 4%;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: 1.5px;
  color: #fff;
}

.step1 {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

.rectangle {
  height: 4px;
  background-color: #fff;
  margin-top: 1vh;
  width: 42vw;
}

.tab1 {
  margin-right: 1vw;
}

.tab2 {
  padding-right: 3vw;
}

.tab1Content {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin-top: 3vh;
  padding-bottom: 4vh;
}

.tab1Text {
  width: 48vw;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
  padding-top: 32px;
  padding-left: 40px;
  padding-bottom: 6vh;
}

.dragDropBox {
  background-color: #f5f7f8;
  height: 44vh;
  margin-top: 8vh;
  margin-left: 40px;
  margin-right: 40px;
}

.borderBottom {
  background-color: #ebeff2;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 4vh;
  height: 2px;
}

.havingTrouble {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 3vh;
}

.havingTrouble a {
  font-weight: bold;
  color: #007bc7;
  margin-top: 32px;
}

button {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.5px;
  text-align: center;
  width: 9vw;
  height: 4vh;
}

button.cancel {
  color: #007bc7;
  border: solid 1px rgba(0, 123, 199, 0.5);
  float: left;
  background-color: #fff;
}

button.continue {
  color: #757575;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #ebeff2;
  float: right;
}

.buttonsDIv {
  margin-top: 3vh;
  background-color: #fff;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 8vh;
  ;
}

.buttonsDIv .container {
  padding: 0;
}



.how-to-upload-white-box {
  background-color: #FFF;
  padding: 32px 32px 36px 32px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: -11vw;
  letter-spacing: 0.4px;

  @media (min-width: 768px) {
    margin-top: -107px;
  }


  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .content {
    border-top: 0.5px solid #ebeff2;
    font-size: 14px;
    padding-top: 24px;
    margin: 0;
  }

  .link {
    color: $link;
    font-weight: bold;
  }

  button.upload {
    height: 44px;
    width: 200px;
    border: solid 1px rgba(255, 255, 255, 0.75);
    background-color: $blue-button-bg;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
  }

  .select-country {

    .mat-form-field-ripple,
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      display: none;
    }

    .mat-select-arrow {
      height: 8px;
      width: 8px;
      color: $link;
      border: 1.5px solid $link;
      transform: rotate(45deg);
      border-top: 0;
      border-left: 0;
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: $link !important;
    }

    .mat-form-field,
    .mat-select,
    .mat-option {
      font-family: 'Proxima Nova', serif !important;
      letter-spacing: normal;
    }
  }

  .download-template {
    &__wrapper {
      margin-top: 18px;
      margin-bottom: 16px;
    }
  }

  button.download-template {
    height: auto;
    width: auto;
    border: none;
    background: none;
    color: $link;
    font-weight: 600;
    transition: all 0.2s ease-out;
    margin: auto;
    outline: none;

    @media (min-width: 992px) {
      margin: 0;
    }

    img {
      position: relative;
      top: -4px;
      margin-right: 8px;
    }
  }

  button.download-template[disabled] {
    color: #919191;
  }
}


//css for upload-new-data-source-module
.header.small {
  padding: 40px 0 32px 0;
  color: #FFF;
  height: auto;

  h2 {
    font-size: 1.875rem;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-weight: bold;
  }

  p {
    font-size: 0.875rem;
    letter-spacing: 0.4px;
  }
}

.step-counter {
  display: flex;
  height: 4px;
  justify-content: space-between;

  .step {
    width: 49.8%;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: #FFF;
      transition: all 0.2s ease-out;
    }

    &.done {

      // background-color: #FFF;
      &::after {
        width: 100%;
      }
    }
  }
}

.upload-new-data {
  &__box {
    background-color: #FFF;
    margin-top: 32px;
    padding: 32px 40px 40px 40px;
    margin-bottom: 100px; //to be removed while integration 

    .upload-status {
      font-size: 0.75rem;
      letter-spacing: 0.2px;
      color: #919191;
      font-weight: normal;
    }

    &--error {
      background-color: rgba(224, 12, 80, 0.1) !important;

      .upload-status {
        font-weight: 600 !important;
        color: #e00c50 !important;
      }
    }

    &--success {
      .upload-status {
        color: #62bc62;
        font-weight: 600;
      }
    }

    p {
      max-width: 600px;
      font-size: 0.875rem;
      letter-spacing: 0.4px;
      line-height: 1.25rem;
      margin-bottom: 32px;
    }

    &__footer {
      border-top: 1px solid #ebebeb;
      padding-top: 32px;
      margin-top: 32px;
      font-size: 0.875rem;
      font-weight: 600;
      a{
        font-weight: 900;
      }
    }

    //notify note in step 2
    .circle {
      min-width: 18px;
      height: 18px;
      width: 18px;
      background-color: $link;
      color: #FFF;
      font-size: 12px;

      span {
        position: relative;
        left: 0.7px;
        top: 1.5px;

      }
    }
  }

  &__drag-drop-upload {
    background-color: #f5f7f8;
    height: 303px;
    font-size: 14px;
    font-weight: 600;
    opacity: none;
    position: relative;
    .select-files{
      position: relative;
      z-index: 2;
      letter-spacing: normal;
    }

    input[type="button"] {
      background-color: $link;
      border: solid 1px rgba(255, 255, 255, 0.75);
      color: #fff;
      font-size: 0.875rem;
      padding: 12px 32px;
      letter-spacing: 0.5px;
      line-height: 18px;
      margin-top: 10px;
      font-weight: 900;
      letter-spacing: 0.5px;

      @media (min-width: 768px) {
        width: 165px;
      }
    }

    .uploading-file {
      .upload-status {

        .data-missing {
          display: inline;
          margin-right: 7px;
          position: relative;
          top: -2px;
        }
      }

      .filename {
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        font-weight: bold;
      }

      .progressbar {
        &__wrapper {
          margin: 0 auto 24px auto;
          display: flex;
          height: 3px;
          width: 160px;
          position: relative;

          @media (min-width: 768px) {
            width: 240px;
          }

          .cancel-upload {
            height: 24px;
            width: 28px;
            position: relative;
            top: -15px;
            left: 4px;
            background: none;
            border: none;
          }
        }
      }

      .data-missing-text,
      .upload-success-text {
        font-size: 0.75rem;
        font-weight: normal;
        letter-spacing: 0.4px;

        a {
          font-weight: bold;
        }
      }
    }
  }

  //footer for this whole module page
  &__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 99;

    button {
      padding: 12px 0;
      height: auto;
      width: 50%;
      text-align: center;
      transition: all 0.2s ease-out;
      &.continue{
        @media (min-width: 768px){
          min-width: 192px;
        }
      }

      @media (min-width: 768px) {
        width: auto;
        padding: 12px 56px;
      }

      &.success {
        background-color: $link;
        color: #FFF;
      }
    }
  }
}

.pop-up{
  padding: 16px 32px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  button{
    padding: 8px 0;
    margin: 0 8px;
    border: none;
    height: auto;
    &.active{
      background-color: $link;
      color: #FFF;
    }
  }
  &__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}